<router-outlet />
<h1>{{ title }}</h1>

<form [formGroup]="demoForm">
  <ng-container
    *ngFor="let control of arr.controls; index as i"
    formArrayName="arr"
  >
    <div class="row">
      <ng-container [formGroupName]="i">
        <input type="text" name="first" formControlName="first" />
        <input type="text" name="last" formControlName="last" />
        <button (click)="removeArr(i)">Remove</button>
      </ng-container>
    </div>
  </ng-container>
  <div class="row">
    <button (click)="addArr()">Add</button>
  </div>
  <div class="row">
    <button (click)="onSubmit()">Submit</button>
  </div>
</form>
